.productsList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;

  list-style: none;
  padding: 0;
  margin: 0;
}

.productsBody {
  background: linear-gradient(135deg, #b8f2e6, #aed9e0, #9bf6ff);
  min-height: 100vh;
  padding: 40px 20px;
  background: linear-gradient(135deg, #b8f2e6, #aed9e0, #9bf6ff);
  font-family: Arial, Helvetica, sans-serif;
}
.productsItem {
  display: flex;
  justify-content: center;
  transition: 0.3s;

}
.productsItem:hover {
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .productsList {
    grid-template-columns: 1fr;
  }
}